<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956284424858-2mlpegn69pp8mmcdq4qqlogvudrhj3c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956284424858-2mlpegn69pp8mmcdq4qqlogvudrhj3c0</string>
	<key>API_KEY</key>
	<string>AIzaSyDkS2vx_iJZIZgTKOn7DwgVx5P0tI7a0Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>956284424858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skywasolutions.notify</string>
	<key>PROJECT_ID</key>
	<string>notify-70154</string>
	<key>STORAGE_BUCKET</key>
	<string>notify-70154.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956284424858:ios:b2fb5a32c3035a9c308523</string>
</dict>
</plist>